.label {
    -fx-background-color: linear-gradient(to bottom right, #FDB927, #ffd666);
    -fx-border-color: #552583 #1D1160 #552583 #1D1160;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-text-fill: #1D1160;
    -fx-padding: 10px 14px;
}

.reply-label {
    -fx-background-color: linear-gradient(to bottom right, #552583, #7b3fb5);
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-text-fill: #FDB927;
    -fx-border-color: #FDB927 #ffd666 #FDB927 #ffd666;
    -fx-padding: 10px 14px;
}

.profile-picture-frame {
    -fx-border-color: #000000;
    -fx-border-width: 1.5px;
    -fx-padding: 0px;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
